{% extends 'myadmin/base.html' %}

{% block main_body %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      首页
      <small>订餐系统后台管理</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div>
            <span style="font-family: bold;line-height: 100px;font-size: 183px">Welcome!</span><br>
            <span style="margin-left: 50px;font-family: bold;line-height: 50px;font-size: 90px">manager</span><br>
        </div>
        <div style="text-align: right">
            <span style="line-height: 80px;font-size: 143px">欢迎您!</span><br>
            <div style="margin-right: 50px;padding-top: 20px">
                <span style="line-height: 40px;font-size: 70px">管理员</span>
            </div>
        </div>
    </div>

  </section>
  <!-- /.content -->
{% endblock %}